.form_login{
    background-image: url("../../../public/Diseño\ sin\ título.jpg");
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    gap: 2rem;
    min-height: 80vh;
    align-items: center;
}
.form_login h1{
    color: rgba(252,183,18,1);
    -webkit-text-stroke: 1px black;
}

@media (min-width: 700px) {
    .form_login {
        font-size: 3rem;
    } 
}
